build/
.vs/
bin/
data/Scenes/Cache
Utilities/Version.h
output/
*.ini
*.bgeo
*.md5
*.cdm
*.bin
.github/
Tests/
extern/
Tools/
SPlisHSPlasH/CMakeFiles/
*.sh
*.txt
CMakeFiles/
pySPlisHSPlasH/CMakeFiles/
Utilities/CMakeFiles/
*.cmake
lib/
Makefile
*/Makefile
SPlisHSPlasH/Vorticity/.ipynb_checkpoints/
core.login*
*.exe
*.glsl
